
body {
    font-family: Arial, sans-serif;
    background-color: #05051a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .weather-container {
    background-color: #79a7e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #location {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #1e1e1f;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0c3056;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weatherResult {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 0;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  h4 {
    font-size: 1em;
    color: #09020f;
  }
  
